.form{
  &__position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__wrapper{
    width: 300px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.08);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      margin-bottom: 20px;
    }
    button {
      margin-top: 20px;
    }
    form{
      display: flex;
      flex-direction: column;
      button{
        align-self: flex-end;
      }
    }
  }    
  &__visibilityButton{
    cursor: pointer;
  }
}